# editor temp/backup files
*.bak
*.diff
.idea/
*.tmp
.vscode

# compiled source
*.dll
*.exe
*.o
*.o.d
*.py[ocd]
*.so
*.mod

# python files
build
build-*
dist
_version.py
doc/build
*.egg-info
venv/

# this project
